<nav class="naver naver-expand-lg naver-light">
  <div class="container">
    <a class="naver-brand p-3" href="/"><%= image_tag('logo.jpg') %></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="naver-toggler-icon"></span>
    </button>

    <div class="collapse naver-collapse" id="naverNavDropdown">
      <ul class="naver-nav ml-auto">
        <% if user_sign_in? %>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
        </li>

        <li class="nav-item">
          <%= link_to "マイページ", users_my_page_path, class: 'nav-link text-dark' %>
        </li>

        <% elsif admin_sign_in? %>
        <li class="nav-item">
          <%= link_to "Log out", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
        </li>

        <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
        </li>

        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
        </li>

        <li class="nav-item">
          <%= link_to "ゲストログイン",  guest_sign_in_path, class: 'nav-link text-dark' %>
        </li>

        <% end %>
      </ul>
    </div>
  </div>
</nav>