<!DOCTYPE html>
<html>
  <head>
    <title>LuanaWahi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <%= render 'layouts/header' %>
      <%= render 'layouts/search' %>
    </header>

    <main class="mb-auto pb-5">
      <%= yield %>
    </main>

    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>
            ハワイ語<br>
            Luana =「仲間と楽しむ・くつろぐ」<br>
            Wahi = 「場所」<br>
            動物たちの可愛らしい姿を見て<br>
            たくさんくつろいでください
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
